#highlight{
    width: 90%;
    /* max-width: 40rem; make it responsive */
    margin: 0.8rem auto; /* center the container */
    text-align: center; /* center the text */
}

#highlight ul{
    text-align: center;
    list-style: none;
    margin: 2rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#highlight ul li{
    height: 18rem;
    font-size: 1.3rem;
    border: solid 1px rgba(21, 25, 32, 0.8);
    border-radius: 8px;
    box-shadow: 2px 3px 8px rgba(25, 45, 80, 0.8);
    cursor: pointer;
    transition: transform 0.5s ease-out;
}

/* I wanna remove transition until click does something */

/* #highlight ul li:hover{
    transform: scale(0.98);
} */


#highlight ul li p{
    color: rgb(134,134,134);
    margin-top: 7rem;
}

#highlight h1{
    font-size: 'Zilla Slab', serif;
    color: rgb(58,58,58);
    text-align: center;
}

@media (max-width: 767px){
    #highlight ul{
        grid-template-columns: 1fr;
    }
}
